.container{
    min-height: 100vh; 
    padding-top: 10%; 
    max-width: 100vw; 
    overflow-x: hidden;
}


.menubar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #1f1266;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menubar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
}

#winkelwagen{
    width: 20px;
    height: 20px;
}

.fietsen-container{
    display: flex;
    justify-content: space-around; 
}

.fiets {
  width: 30%;
  img{
    width: 100%;
  }
}